<!DOCTYPE html>
<html>

<head>
    <title>Aplikasi Forecasting Stok</title>
</head>

<body>
    <h1>Aplikasi Forecasting Stok</h1>
    <p>Server berjalan dengan baik.</p>

    <a href="/input">Input Data Penjualan</a>
</body>

</html>